.popup {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: #fff;
    border: 0.1rem solid #ccc;
    padding: 1rem;
    z-index: 1000;
  }
  
  .popup-content {
    text-align: center;
  }
  